* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}
body {
    background-color: #ff94db;
    font-family: 'Roboto' , sans-serif;
    margin: 0;
    padding: 0;
}

#mobile-banner {
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 16em;
    margin-top: 13.5em;
}

#enter {
    font-family: 'Press Start 2P' , monospace;
    display: flex;
    justify-content: center;
    margin-top: 20em;
}

#enter a{
    text-decoration: none;
    font-size: 12px;
}

#enter a:hover {
    color: white;
}

/* Inputs */

input,
textarea {
    height: 32px;
    padding: 0 10px;
    font-family: monospace;
    font-size: 12px;
    border: none;
}

input:focus,
textarea:focus {
    outline: none;
}

/* Search Box */

#searchbox {
    position: fixed;
    right: 0;
    top: 12px;
    width: 200px;
    pointer-events: none;
    z-index: 50;
    transition: 0.4s;
    opacity: 0.9;
}

#searchbox input {
    height: 2em;
    width: 100%;
}


/* Navigation */

#left-nav {
    height: 40px;
    width: 100%;
    margin: 0;
    position: fixed;
    font-family: 'Press Start 2P' , monospace;
    font-size: 8px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
}


#left-nav a {
    padding: 0;
    color: #cc66ff;
    transition: 0.4s;
    text-decoration: none;
}

#left-nav a:hover {
    text-decoration: none;
    color: #00ffcc;
}

#left-nav ul{
   display: flex;
   list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
}

#left-nav .nav-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

#right-nav .nav-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}

#left-nav .icon {
    display: flex;
    align-items: center;
}

#right-nav .icon {
    display: flex;
    align-items: center;
}

.active {
    color: #bf3eff;
}

#menu-icon {
    height: 100%;
    font-size: 28px;
    padding: 0 4px;
    color: mintcream;
    align-items: center;
}

#right-nav {
    height: 62px;
    width: 100%;
    margin-left: 700px;
    margin-top: 20px;
    position: fixed;
    font-family: 'Press Start 2P' , monospace;
    font-size: 12px;
    display: flex;
    padding: 0 16px 0 0;
    box-sizing: border-box;
    z-index: 100;
    margin-left: 1045px;
}

#right-nav a {
    padding: 0;
    color: #cc66ff;
    transition: 0.4s;
    text-decoration: none;
}

#right-nav a:hover {
    text-decoration: none;
    color: #00ffcc;
}

#right-nav ul {
    display: flex;
    list-style: none;
    align-items: right;
    height: 100%;
}

#right-nav li {
    list-style: none;
    display: inline;
    margin-right: 15px;
}

#youtube {
    position: relative;
    bottom: 2px;
}

#github {
    position: relative;
    bottom: 2px;
}

/* Search Icon */

#search-icon {
    color: white;
    padding: 0 32px;
    cursor: pointer;
    transition: 0.4s;
}

#search-icon:hover {
    color: pink;
}

/* Slideout Menu */

#slideout-menu {
    background-color: rgb(128, 0, 128, 0.9);
    z-index: 100;
    position: fixed;
    transition: 0.4s;
    margin-top: 0;
    width: 100%;
    text-align: left;
    font-size: 8px;
}

#slideout-menu ul {
    list-style: none;
    padding: 0 32px;
}

#slideout-menu ul li {
    padding: 5px;
    list-style: none;
}

#slideout-menu a {
    font-family: 'Press Start 2P' , monospace;
    color: #00ffcc;
    text-decoration: none;
}

#slideout-menu input{
    width: 75%;
    padding: 0;
    font-family: monospace;
    font-size: 10px;
    text-align: center;
}

#slideout-searchbox {
    margin-left: 0;
    text-align: left;
}
/* Footer */

footer {
    font-size: 7px;
    padding-left: 20px;
    color: white;
    opacity: 0.7;
    position: fixed;
    bottom: 0;
}

/******** Media Queries *******/

/* Desktop */

/*MacBook Pro

@media (min-width:2000px) {
    #mobile-banner {
        max-width: 500px;
    }
    #right-nav {
        margin-left: 1045px;
    }
}

@media (min-width:1200px) {
    #mobile-banner {
        max-width: 500px;
    }  
    #right-nav {
        margin-left: 1045px;
    }
}

@media (min-height:1200px) {
    #honeysamurai-mobile {
        width: 90vw;
    }
    footer {
        margin-top: 600px;
    }
    #mobile-banner {
        padding-top: 600px;
    }
} */

/* iPad Pro 

@media (max-width: 1024px) {
    #honeysamurai-mobile {
        max-width: 600px;
        width: 90vw;
        position: fixed;
        top: 220px;
    }
    #enter {
        padding-top: 140px;
        padding-bottom: 0px;
        height: 0;
        margin: 0;
    }
    #right-nav {
        margin-left: 625px;
    }  
    footer {
        position: relative;
        top: 125px;
    }
}

@media (max-height: 1366px) {
    #honeysamurai-mobile {
        width: 90vw
    }
    footer {
        margin-top: 250px;
    }
}

@media (max-width:900px) {
    #honeysamurai-mobile {
        width: 90vw
    }
    nav ul{
        display: none;
    }
    #menu-icon {
        display: flex;
    }
    #slideout-menu {
        /* display block; */
    }
} */

/* iPad 

@media (max-width: 768px) {
    #honeysamurai-mobile {
        max-width: 500px;
        position: fixed;
        top: 100px;
    }
    #enter {
        position: relative;
        top: 425px;
    }
    footer {
        position: relative;
        top: 720px;
    }
    #right-nav {
        display: none;
    }
    footer {
        position: relative;
        top: 380px;
    }
}

@media (max-width:719px) {
    #honeysamurai-mobile {
        width: 90vw
    }
    #enter a{
        
    }
    footer {
        
    }
    
} */

/* Surface Duo 

@media (max-width:600px) {
   #mobile-banner {
       width: 1vw;
       padding-left: 265px;
       padding-top: 250px;
   }
   #honeysamurai-mobile {
        width: 90vw
   }
    }
    footer {
        padding-top: 210px;
    }
}

@media (max-height:) {
    footer {
        
    }
} */

/* iPhone */


/*****MORE EFFICIENT BREAKPOINTS****/

/* smartphones */

@media only screen and(max-width:320px) {
    #left-nav {
        position: absolute;
        display: none;
        visibility: hidden;
    }
    #right-nav {
        display: none;
    }
    #searchbox {
        display: none;
    }
    #slideout-menu {
    
    }
    #menu-icon {

    }
    
    #honeysamurai-mobile {
        /*default*/
    }
    #enter {
        /*default*/
    }
    footer {
        /*default*/
    }
}

/* small tablets */

@media only screen and (max-width:481px) {
    #left-nav {
        display: none;
    }
    #right-nav {
        display: none;
    }
    #menu-icon {
        /*default*/
    }
    #searchbox {
        display: none;
    }
    #honeysamurai-mobile {
        position: fixed;
        top: 3rem;
    }
    #enter {
        position: relative;
        top: 3rem;
    }
    footer {
        position: relative;
        top: 21.5rem;
    }
}

/* portrait tablets */

@media only screen and (max-width:641px) {
    #left-nav {
        display: none;
    }
    #right-nav {
        display: none;
    }
    #searchbox {
        display: none;
    }
    #menu-icon {

    }
    #honeysamurai-mobile {

    }
    #enter {

    }
    footer {

    }
}

/* regular tablets */

@media only screen and (max-width:961px) {

    #menu-icon {
        display: none;
    }

    #slideout-menu {
        display: none;
    }

    #slideout-searchbox {
        display: none;
    }

    #honeysamurai-mobile {

    }
    #enter {

    }
    footer {

    }
}

/* big tablets, laptops, desktops */

@media only screen and (max-width:1025px) {
    #menu-icon {
        display: none;
    }
    #slideout-menu {
        display: none;
    }
    #slideout-searchbox {
        display: none;
    }
    #honeysamurai-mobile {

    }
    #enter {

    }
    footer {

    }
}

/* hi-res laptops and desktops */

@media only screen and(max-width:1281px) {
    #menu-icon {
        display: none;
    }
    #slideout-menu {
        display: none;
    }
    #slideout-searchbox {
        display: none;
    }
    #honeysamurai-mobile {

    }
    #enter {

    }
    footer {

    }
}

